@page "/listadoexpedientes"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@using System.Linq;
@inject IServicioAutorizacion ServicioAutorizacion

@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja
@inject CasoDeUsoExpedienteAlta CasoDeUsoExpedienteAlta
@inject CasoDeUsoExpedienteConsultaTodos CasoDeUsoListarExpedientes
@inject CasoDeUsoExpedienteConsultaPorId CasoDeUsoListarId
@inject CasoDeUsoUsuarioConsultaPorId CasoDeUsoUsuarioConsultaPorId
@inject ServicioSesion servicioSesion

<DialogoConfirmacion @ref="dialogo" />

<PageTitle>Expedientes</PageTitle>

<tbody>
    @if (_lista.Count() > 0)
    {
        <h1>Expedientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Carátula</th>
                    <th>Estado</th>
                    <th>Creación</th>
                    <th>Última Modificación</th>
                    <th>Modificado por</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in _lista)
                {
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.Caratula</td>
                        <td>@e.Estado</td>
                        <td>@e.Creacion</td>
                        <td>@e.UltimaModificacion</td>
                        <td>@e.IdUsuario</td>
                        <td>
                            @if (shouldDisplayModificar)
                            {
                                <button class="btn btn-secondary" @onclick="() => RedirigirModificarExpediente(e)">
                                    Modificar
                                </button>
                            }
                            @if (shouldDisplayEliminar)
                            {
                                <button class="btn btn-danger" @onclick="() => ConfirmarEliminacionExpediente(e)">
                                    Eliminar
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No se han cargado expedientes por el momento</h3>
    }
    @if (shouldDisplayAlta)
    {
        <h1>Registre un expediente con su carátula</h1>
        <input placeholder="Carátula" @bind="_caratula" />
        <button @onclick="DarDeAltaExpediente">Aceptar</button>
        <div class="advertencia">
            @textoAdvertencia
        </div>
    }
    else
    {
        <h1>No posee permisos para dar un alta de expediente, comuníquese con el administrador para solicitar el permiso.
        </h1>
    }
</tbody>

@code {
    private bool shouldDisplayModificar = false;
    private bool shouldDisplayEliminar = false;
    private bool shouldDisplayAlta = false;
    DialogoConfirmacion dialogo = null!;
    private string textoAdvertencia = " ";
    List<Expediente> _lista = new List<Expediente>();
    string? _caratula = null;

    protected override void OnInitialized()
    {
        _lista = CasoDeUsoListarExpedientes.EjecutarConsultarTodos();
        if ((servicioSesion.UsuarioLogged != null) && (servicioSesion.UsuarioLogged.permisos != null))
        {
            if (ServicioAutorizacion.PoseeElPermiso(servicioSesion.UsuarioLogged.permisos, Permiso.ExpedienteModificacion))
            {
                shouldDisplayModificar = true;
            }
            if (ServicioAutorizacion.PoseeElPermiso(servicioSesion.UsuarioLogged.permisos, Permiso.ExpedienteBaja))
            {
                shouldDisplayEliminar = true;
            }
            if (ServicioAutorizacion.PoseeElPermiso(servicioSesion.UsuarioLogged.permisos, Permiso.ExpedienteAlta))
            {
                shouldDisplayAlta = true;
            }
            StateHasChanged();
        }
    }

    void DarDeAltaExpediente()
    {
        if(!string.IsNullOrWhiteSpace(_caratula)){
            Expediente expediente = new Expediente(_caratula, servicioSesion.UsuarioLogged.id);
            CasoDeUsoExpedienteAlta.EjecutarExpedienteAlta(expediente, servicioSesion.UsuarioLogged);
            _lista = CasoDeUsoListarExpedientes.EjecutarConsultarTodos();
        }
        else{
            textoAdvertencia = "La carátula no puede estar vacía";
            StateHasChanged();
        }
    }
    private void RedirigirModificarExpediente(Expediente e)
    {
        Navegador.NavigateTo($"{e.Id}/modificarexpediente");
    }

    private void ConfirmarEliminacionExpediente(Expediente e)
    {
        dialogo.OnConfirmado = EventCallback.Factory.Create(this, () => EliminarExpediente(e));
        dialogo.Mensaje = $"¿Desea eliminar el expediente del usuario {e.Id} junto a todos sus tramites?";
        dialogo.Mostrar();
    }

    private void EliminarExpediente(Expediente e)
    {
        CasoDeUsoExpedienteBaja.EjecutarExpedienteBaja(e.Id, servicioSesion.UsuarioLogged);
        _lista = CasoDeUsoListarExpedientes.EjecutarConsultarTodos();
    }
}